<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add University</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add Details for {{ university_name }}</h1>
        <form action="/api/create" method="post" enctype="multipart/form-data">
            <input type="hidden" name="name" value="{{ university_name }}">
            <label>Description*:</label>
            <input type="text" name="description" required>
            <label>Logo URL:</label>
            <input type="file" name="logo">
            <label>Icon URL:</label>
            <input type="file" name="icon">
            <label>Crest URL:</label>
            <input type="file" name="crest">
            <label>Photo URL:</label>
            <input type="file" name="photo">
            <label>Country*:</label>
            <input type="text" name="country" required>
            <label>City*:</label>
            <input type="text" name="city" required>
            <label>Alternate City:</label>
            <input type="text" name="altcity">
            <label>Established*:</label>
            <input type="text" name="established" required>
            <button type="submit">Add University</button>
        </form>
        <a href="/">Cancel</a>
    </div>
</body>
</html>
